@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dm-text-green: #48C5AF;
    --dm-bg-dark-green: #081D22;
    --dm-bg-green: #0E2931;
    --dm-white: #B2D8D6;
    --lm-brown: #7A6649;
    --lm-hover-white: #e6ded8;
    --lm-light-brown: #f9f6f2;
    --lm-white: #FFF9F5;
    --dm-button-hover: #00696e;
}

body {
    width: 100vw;
    overflow: hidden;
}

/* Link hover animation based off code by Harshil Patel from https://css-tricks.com/css-link-hover-effects/ */
.link {
    background:
        linear-gradient(to right, #64c8c8, #64c8c8),
        linear-gradient(to right, #d5ffe2, #93ffcd, #03c9d4);
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.link:hover {
    color: #8dffba;
    background-size: 0 2px, 100% 2px;
    cursor: pointer;
}

input:hover {
    cursor: pointer;
}